body{
 background-color:black;
}
 .clockinfo{
 margin: auto;
 width:200px;
 height:40px;
 padding: 20px;
 box-shadow: 10px 10px 20px 20px#cb8f33;
 background-color: black;
 color:#cb8f33 ;
 margin-top: 200px;
 text-align: center;
font-size: xx-large;
} 
